@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
 body {
     --color: #111;
     --color2:#24272d;
     --color3:#A9A9A9;
     --color4:#1d1f21;
}
 body.light-theme {
     --color: #fff;
     --color2:#fff;
     --color3:black;
     --color4:#f9f9f9;
}
 @media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
     body {
         --color: #fff;
         --color2:#fff;
         --color3:black;
         --color4:#f9f9f9;
    }
     body.dark-theme {
         --color: #111;
         --color2:#24272d;
         --color3:#A9A9A9;
         --color4:#1d1f21;
    }
}
 html {
     width: 100%;
}
 body {
     top: 0px;
     width:100%;
     height: 100%;
     background: var(--color);
     z-index: -1;
     margin: 0 auto;
}
 a {
     text-decoration: inherit;
     color: inherit;
}
 .center {
     display: flex;
     justify-content: center;
     align-items: center;
}
 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 15px 10%;
}
 .darlingName {
     font-family: 'Baloo Paaji 2', cursive;
     font-size: 40px;
     cursor: pointer;
     font-weight: 400;
}
 .sep {
     color: rgb(245, 180, 207);
     margin: 0 2% 0 10px;
}
 .ops {
     list-style: none;
     display: flex;
     font-family: 'Baloo Paaji 2', cursive;
     flex: 1;
     font-size: 1.2rem;
     padding: 0;
}
 .lis {
     padding: 0 10px;
     cursor: pointer;
}
 #discord-button .icon {
     overflow: hidden;
     margin-top: 2%;
     width: 25px;
     height: 25px;
     margin-right: 10px;
}
 #discord-button .icon svg {
     fill: white;
}
 #discord-button .login-button {
     z-index: 2;
     position: relative;
     color: white;
     font-weight: bold;
     border-radius: 12px;
     display: -webkit-inline-box;
     display: inline-flex;
     -webkit-box-align: center;
     align-items: center;
     padding: 10px 15px;
     background-color: #7289da;
     text-decoration: none;
}
 #discord-button .login-button:hover {
     background-color: #6a7fc9;
}
 #discord-buttonm .iconm {
     overflow: hidden;
     margin-top: 2%;
     width: 25px;
     height: 25px;
     margin-right: 10px;
}
 #discord-buttonm .iconm svg {
     fill: white;
}
 #discord-buttonm .login-buttonm {
     z-index: 2;
     position: relative;
     color: white;
     font-weight: bold;
     border-radius: 12px;
     display: none;
     -webkit-box-align: center;
     align-items: center;
     padding: 10px 15px;
     background-color: #7289da;
     text-decoration: none;
}
 #discord-buttonm .login-buttonm:hover {
     background-color: #6a7fc9;
}
 @media only screen and (max-width: 780px) {
}
 .is-vertical-center {
     display: flex;
     justify-content: center;
     align-items: center;
}
 .contentConteiner {
     min-height : 50vh;
}
 .contentConteiner b {
     font-family: 'Montserrat', sans-serif;
     font-size: 3rem;
}
 div .spanBreak {
     cursor: default;
     display: block;
     margin: 10px;
     font-size: 1.2rem;
}
 .mov {
     margin-bottom: 30px !important;
}
 .heroArea {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-self: center;
     width: 100%;
}
 .pinkHover:hover {
     color: rgb(245, 180, 207) !important;
}
 .button a {
     color:rgb(245, 180, 207) !important;
}
 .button a:hover {
     color: white !important;
}
 .contBox {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 @media only screen and (max-width: 412px) {
     .contBox {
         flex-direction: column;
         justify-content: space-around;
    }
}
 .footerDiv {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
}
 @media only screen and (max-width: 530px) {
     nav {
         justify-content: center;
    }
     .ops {
         flex: 0;
    }
     .footerDiv {
         justify-content: space-between;
    }
     .footer {
         font-size: 13px;
    }
     #lovediv {
         max-width: 8vh;
    }
     .footerDiv .darlingName {
         display: none;
    }
     .love {
         display: none;
    }
     nav {
         justify-content: center;
    }
     .ops {
         flex: 0;
    }
     .darlingName {
         font-size: 30px;
    }
     .ops a {
         font-size: 17px;
    }
     .front_image {
         visibility: hidden;
    }
     nav {
         justify-content: center;
    }
     .ops {
         flex: 0;
    }
     .column {
         display: none !important;
    }
     #discord-buttonm .login-buttonm {
         display: -webkit-inline-box;
         display: inline-flex;
    }
     #discord-button .login-button {
         display: none;
    }
}
 .link {
     color: #4a4a4a;
     cursor: pointer;
}
 #lovediv {
     max-width: 10vh;
}
 .morefuncs {
     font-size: 2rem;
     text-align: center;
     font-weight: bold;
}
 #scroll {
     margin-top: 25%;
}
 .contentsection {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
 .contentdiv {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 5% 0;
}
 .contentsep {
     margin: 0 2vw;
     min-width: 350px;
     max-width: 760px;
}
 .contentsep h1 {
     font-size: 2.5rem;
     font-weight: bold;
     margin: 15px 0;
}
 .contentsep h2 {
     font-size: 1.5rem;
}
 .contentimg {
     max-height: calc(100% - 30%);
     max-width: calc(100% - 30%);
     border-radius: 10px;
     margin: 0 2vw;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .reverse {
     text-align: right;
}
 @media only screen and (max-width: 763px) {
     .front_image {
         visibility: hidden;
    }
     .column {
         display: none !important;
    }
}
 @media only screen and (max-width: 1024px) {
     #topgg {
         display: none;
    }
     .txtcont{
         text-align: center;
    }
     .contentdiv {
         flex-direction: column;
         text-align: center;
    }
     .contentsep h2 {
         font-size: 1.2rem;
    }
     .reverseflex {
         flex-direction: column-reverse;
    }
     .reverse {
         text-align: center;
    }
}
/* ARROW BOUNCE */
 .arrow {
     text-align: center;
     margin: 30px 0;
}
 .bounce {
     -webkit-animation: bounce 2s infinite;
     animation: bounce 2s infinite;
}
 @-webkit-keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
    }
     40% {
         -webkit-transform: translateY(-30px);
         transform: translateY(-30px);
    }
     60% {
         -webkit-transform: translateY(-15px);
         transform: translateY(-15px);
    }
}
 @keyframes bounce {
     0%, 20%, 50%, 80%, 100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
    }
     40% {
         -webkit-transform: translateY(-30px);
         transform: translateY(-30px);
    }
     60% {
         -webkit-transform: translateY(-15px);
         transform: translateY(-15px);
    }
}
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: var(--color4);
     max-width: 200px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     top: 50px;
     padding-top: 20px;
}
/* Links inside the dropdown */
 .dropdown-content a {
     color: var(--color3);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
 .dropdown-content a:hover {
    background-color: var(--color2)
}
 ::-webkit-Scrollbar{
     width: 7px;
     background: var(--color);
}
 ::-webkit-Scrollbar-thumb{
     border-radius: 20px;
     background: rgb(245, 180, 207);
     box-shadow: inset 0 0 20px rgb(245, 180, 207);
}
 ::-webkit-Scrollbar-track{
     margin-top: 80px;
     border-radius: 10px;
}
 .switch {
     position: relative;
     display: inline-block;
     width: 50px;
     height: 24px;
}
/* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
}
/* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
}
 .slider:before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
}
 input:checked + .slider {
     background-color: #1acf7e;
}
 input:focus + .slider {
     box-shadow: 0 0 1px #ccc;
}
 input:checked + .slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
}
 .box {
     background-color: var(--color2);
}
 .footer {
     background-color: var(--color2);
}
 .slider.round:before {
     border-radius: 50%;
}
 .slider.round {
     border-radius: 34px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}


.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2em
}

.fa-inverse {
    color: #fff
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}
